@import 'bootstrap/dist/css/bootstrap.min.css';

@import '../scss/veriables';
@import '../scss/mixin';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0;
}

.main {
    background: $main-bg;

    #header {
        display: flex;
        flex-direction: column;
        gap: 0px 24px;
        background: $d-bg;
        padding: 11px 5px 0;
        border-bottom: 1px solid $border;

        .nav {
            display: flex;

            justify-content: space-between;

            @include small-mob {}

            @include extralarge-mob {}

            @include g-laptop {
                flex-basis: 20%;
                padding: 10px 60px 0px ;
            }

            .logo {
                display: flex;
                width: 50%;
                align-items: center;

                .mobile {

                    @include small-mob {
                        display: inline;
                    }

                    @include extralarge-mob {
                        display: none;
                    }

                    img {
                        vertical-align: middle;
                        height: 35px;
                        margin-right: 5px;

                    }
                }

                @include extralarge-mob {
                    text-align: left;
                    width: 20%;
                }

                img {
                    height: 40px;
                    vertical-align: middle;
                }
            }

            .search {
                display: none;
                width: 58%;

                @include extralarge-mob {
                    display: flex;
                    justify-content: stretch;
                }

                input {
                    padding: 0px 0px 0px 10px;
                    width: 100%;
                    border: 2px solid $main-bg;
                    border-radius: 2px;
                    border-bottom: 2px solid $input;

                    @include extralarge-mob {
                        padding: 4px 15px;
                    }

                    input:focus {
                        outline: none;
                    }
                }

                .search_button {
                    padding: 15px 17px;
                    background: $link;
                    border-radius: 0 4px 4px 0;
                    border: none;

                    img {
                        vertical-align: middle;
                        width: 15px;
                    }
                }

            }

            .menu_icon {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 50%;
                gap: 2%;

                @include extralarge-mob {
                    width: 22%;
                }

                .trolly {
                    margin-right: 25px;

                    a {
                        img {
                            height: 30px;
                            color: $fo-color;

                            @include extralarge-mob {}
                        }
                    }
                }

                .signin {
                    a {
                        font-size: 16px;
                        text-decoration: none;
                        padding: 5px 5px;
                        border: 1px solid;
                        border-radius: 3px;
                        color: $p-color;

                        &:hover {
                            background: $link;
                            color: $d-bg;
                        }

                        @include tab {
                            padding: 8px 16px;
                        }
                    }
                }
            }
        }

        .category {
            //display: none;
            padding: 30px 0px 0px 0px;


            .main_category {
                margin: 0;
                padding: 0;
                display: none;

                @include extralarge-mob{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px 15px;
                    justify-content: center;
                    background: $d-bg;
                }
                @include tab {
                   gap: 10px 40px; 
                    
                }
            }

            &.category-show {
                display: block;

                li {
                    padding: 0px 20px;
                }
            }

            li {
                list-style: none;
                padding-bottom: 12px;

                a {
                    text-decoration: none;
                    font-size: 15px;
                    color: $f-color;

                    &:hover {
                        color: $link;

                    }

                    @include extralarge-mob {
                        font-size: 18px;
                    }
                }
            }
        }

        .wri_category {
            display: none;
            .sub_category {
                @include tab {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px 40px;
                    justify-content: center;
                    background: $d-bg;
                }
            }

            li {
                list-style: none;
                padding: 10px 20px;

                a {
                    text-decoration: none;
                    font-size: 15px;
                    color: $f-color;

                    &:hover {
                        color: $link;
                    }

                    @include extralarge-mob {
                        font-size: 15px;
                    }
                }
            }
        }
    }

    #body {
        display: flex;
        gap: 30px;
        margin: 0px 10px;
        @include g-laptop{
            margin:  0 47px;
        }

        .left_body {
            display: none;
            margin-top: 30px;
            flex-basis: 23%;
            @include small-laptop{
                display: block
            }

            .shopByCategory {
                @include left-items;

                .shopCategory {
                    border-bottom: 1px solid $border;
                    padding: 18px 20px;

                    p {
                        font-size: 18px;
                        font-weight: 600;
                        letter-spacing: 0.75px;
                    }
                }

                .islamicBook {
                    height: 240px;
                    overflow: auto;
                    padding: 18px 20px;
                    margin: 0 12px 0 0;

                    /* width */
                    &::-webkit-scrollbar {
                        width: 5px;
                    }

                    /* Track */
                    &::-webkit-scrollbar-track {
                        box-shadow: inset 0 0 5px grey;
                        border-radius: 10px;
                    }

                    /* Handle */
                    &::-webkit-scrollbar-thumb {
                        background: rgb(129, 126, 126);
                        border-radius: 10px;
                    }

                    p {
                        @include subHeading;
                    }

                    ol {
                        list-style: circle;
                        padding-left: 19px;

                        li {
                            padding-bottom: 4px;

                            a {
                                @include b-list
                            }
                        }
                    }
                }

                .eBook {
                    @include ebook;
                    border-top: 1px solid $border;
                    margin-top: 19px;

                    span {
                        @include ebookspan;
                    }
                }

                .stock {
                    @include ebook;
                    border-top: 1px solid $border;

                    span {
                        @include ebookspan;
                    }
                }
            }

            .sort {
                @include left-items;
                margin-top: 20px;

                .upSort {
                    @include up-items;
                    border-bottom: 1px solid $border;

                    .leftSort {
                        @include up-items-left;
                    }

                    .rightSort {
                        @include up-items-right;
                    }
                }

                .downSort {
                    padding: 17px 20px;

                    ul {
                        padding: 0;
                        li {
                            list-style: none;
                            padding-bottom: 12px;

                            a {
                                text-decoration: none;

                                input {
                                    @include left-input;

                                }

                                span {
                                    @include ebookspan;
                                    font-weight: 400;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }

            .filter {
                @include left-items;
                margin-top: 20px;
                

                .upFilter {
                    @include up-items;
                    border-bottom: 1px solid $border;

                    .leftHeading {
                        @include up-items-left;
                    }

                    .rightHeading {
                        @include up-items-right
                    }
                }

                .downfilter {
                    padding: 0px 12px 17px 20px;
                    border-bottom: 1px solid $border;
                    margin-top: 15px;

                    p {
                        font-weight: 600;
                        color: $f-color;
                        font-size: 16px;
                    }

                    .subSearch {
                        display: flex;
                        justify-content: space-between;
                        margin: 10px 0px;
                        :focus{
                                outline: none;
                            }

                        input {
                            @include ratingInput;
                            
                        }

                        button{
                            background: $search;
                            border: none;
                            padding:0px;
                            padding: 6px 15px 6px 0;
                            border-radius: 0 20px 20px 0;
                            vertical-align: middle;
                            img {
                                width: 15px;
                                opacity: 0.4;
                            }
                        }
                    }

                    ul {
                        height: 240px;
                        overflow: auto;
                        padding: 18px 0px;

                         /* width */
                        &::-webkit-scrollbar {
                            width: 5px;
                        }

                        /* Track */
                        &::-webkit-scrollbar-track {
                            box-shadow: inset 0 0 5px grey;
                            border-radius: 10px;
                        }

                        /* Handle */
                        &::-webkit-scrollbar-thumb {
                            background: rgb(129, 126, 126);
                            border-radius: 10px;
                        }

                        li {
                            list-style: none;
                            padding: 4px 0px;

                            a {
                                text-decoration: none;
                                display: flex;
                                justify-content:flex-start;
                                line-height: 22px;

                                input {
                                    @include left-input;
                                }

                                span {
                                    @include ebookspan;
                                    font-weight: 400;
                                    font-size: 14px;
                                    padding-right: 20px;
                                }
                            }
                        }
                    }
                }

                .Publishers {
                    padding: 0px 12px 17px 20px;
                    border-bottom: 1px solid $border;
                    margin-top: 15px;

                    p {
                        @include subhead;
                    }

                    .subSearch {
                        display: flex;
                        justify-content: space-between;
                        margin: 10px 0px;
                        
                        :focus{
                            outline: none;
                        }
                        input {
                            @include ratingInput;
                        }

                        button{
                            background: $search;
                            border: none;
                            padding:0px;
                            padding: 6px 15px 6px 0;
                            border-radius: 0 20px 20px 0;
                            vertical-align: middle;
                            img {
                                width: 15px;
                                opacity: 0.4;
                                
                            }
                        }
                    }

                    ul {
                        height: 240px;
                        overflow: auto;
                        padding: 18px 0px;

                         /* width */
                        &::-webkit-scrollbar {
                            width: 5px;
                        }

                        /* Track */
                        &::-webkit-scrollbar-track {
                            box-shadow: inset 0 0 5px grey;
                            border-radius: 10px;
                        }

                        /* Handle */
                        &::-webkit-scrollbar-thumb {
                            background: rgb(129, 126, 126);
                            border-radius: 10px;
                        }

                        li {
                            list-style: none;
                            padding: 4px 0px;

                            a {
                                text-decoration: none;
                                display: flex;
                                justify-content:flex-start;
                                line-height: 22px;
                                input {
                                    @include left-input;
                                }

                                span {
                                    @include ebookspan;
                                    font-weight: 400;
                                    font-size: 14px;
                                    padding-right: 20px;
                                }
                            }
                        }
                    }
                }
                .rating{
                    padding: 0px 12px 17px 20px;
                    border-bottom: 1px solid $border;
                    margin-top: 15px; 
                    p {
                        @include subhead;
                    }
                    .subrating{
                        margin-top: 7px;
                        .ratingItems{
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            gap: 8px;
                           input {
                            @include ratingInput;
                            width: 14px;
                            } 
                            img{
                                height: 16px;
                                vertical-align: middle;
                            }
                        }
                    }
                      
                }
            }

        }

        .right_body {
            flex-basis: 100%;
            @include small-laptop{
                flex-basis: 77%;
            }
            .bestSell {
                margin: 15px 0 15px 0;
                @include tab{
                    padding: 15px 0 30px 0;
                }

                img {
                    height: 215px;
                    border-radius: 10px;
                    width: 100%;
                }
            }

            .biyeZemon {
                gap: 25px;
                margin-bottom: 24px;

                img {
                    height: 115px;
                    flex-basis: 100%;
                    @include large-mob{
                        flex-basis: 47%;
                    }
                    @include extralarge-mob{
                        flex-basis: 31%;
                    }
                }
            }

            .sub_section {
                background: $d-bg;
                margin-top: 25px;
                box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);

                .rightMaiHheading {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 20px 20px 0 20px;

                    .left_heading {
                        font-size: 18px;
                        font-weight: 700;
                        letter-spacing: 0.50px;
                        color: $f-color;
                        margin: 0 0 8px 0;
                        @include extralarge-mob{
                            font-size: 21px;
                        }
                    }

                    .right_heading {
                        display: none;
                        text-decoration: none;
                        font-size: 14px;
                        text-transform: uppercase;
                        color: $link;
                        padding: 6px 12px;
                        border-radius: 3px;
                        border: 1px solid$link;
                        box-shadow: 0px 3px 4px -4px $shadow;
                        @include tab{
                            display: block;
                            padding: 10px 20px;
                        }

                        &:hover {
                            background: $link;
                            color: $d-bg;
                            transition: .5s;
                        }
                    }
                }

                .popularList {
                    padding: 0 18px 12px;

                    .books {
                        position: relative;
                        padding: 15px;
                        text-align: center;
                        margin-bottom: 10px;
                        flex-basis: 100%;
                        
                        @include extralarge-mob{
                            flex-basis: 50%;
                        }
                        @include tab{
                            flex-basis: 33%;
                        }
                        @include small-laptop{
                            flex-basis: 25%;
                        }
                        @include g-laptop{
                            flex-basis: 20%;
                        }
                        &:hover {
                            box-shadow: inset 0px 0px 7px 0px #cdcdcd;
                            .viewDetails{
                                opacity: 1;
                            }

                            .book_picture {
                                img {
                                    opacity: 20%;
                                }

                                .addToCart {
                                    opacity: 1;
                                }
                            }

                            .book_deatails {
                                opacity: 20%;
                            }
                        }

                        .book_picture {
                            position: relative;
                            img {
                                height: 180px;
                            }
                            .addToCart{
                                width: 126px;
                                position: absolute;
                                padding: 9px 0;
                                font-size: 15px;
                                background: #ff9900;
                                color: $d-bg;
                                border: none;
                                left: 50%;
                                top: 80px;
                                opacity: 0;
                                transform: translateX(-50%);
                            }
                        }

                        .book_deatails {
                            
                            .book_name {
                                font-size: 14px;
                                color: $f-color;
                                padding: 14px 5px 3px 5px;
                                margin: 0;

                                span {
                                    font-size: 12px;
                                    color: $f-color;
                                }
                            }

                            .writer {
                                font-size: 13px;
                                color: $p-color;
                                padding: 0 5px;
                                margin: 3px 0 0;
                            }

                            // .rating_stars{

                            // }
                            .p_d {
                                display: flex;
                                padding-top: 8px;
                                gap: 10px;
                                font-size: 16px;
                                font-weight: 600;
                                color: $p-color;
                                justify-content: center;
                                

                                // .price{

                                // }
                                // .discount{

                                // }
                            }
                        }
                        .viewDetails{
                            position: absolute;
                            width: 170px;
                            color: $d-bg;
                            background: $link;
                            border: none;
                            padding: 9px;
                            left: 50%;
                            bottom: 0px;
                            opacity: 0;
                            font-size: 15px;
                            font-weight: 600;
                            letter-spacing: .5px;
                            transform: translateX(-50%);
                        }
                    }
                }
                .mostS_heading{
                    padding: 20px 20px 0 20px;
                    p{
                        font-size: 20px;
                        color: $f-color;
                    }
                    .mostsearched{
                        gap: 8px;
                        padding: 10px 0 30px;
                        a{
                            padding: 5px 12px;
                            border-radius: 20px;
                            text-decoration: none;
                            border: 1px solid $border;
                            color: $p-color;
                            font-size: 15px;
                            &:hover{
                                border: 1px solid $link;
                                color: $link; 
                                transition: 0.5s;
                            }
                        }
                    }
                }  
            }
            .main_arrow{
                gap: 25px;
                margin: 25px 0;
                a{  
                    flex-basis: 100%;
                    background: $d-bg;
                    display: flex;
                    justify-content: space-between;
                    text-decoration: none;
                    padding: 20px;
                    border: 1px solid $link;
                    border-radius: 6px;
                    color: $link;
                    align-items: center;
                    @include extralarge-mob{
                        flex-basis: 47%;
                    }
                    @include g-laptop{
                        flex-basis: 31%;
                    }
                    &:hover{
                        background: $link;
                        p,
                        svg {
                            color: $d-bg;
                        }
                    }
                    p{
                        
                        font-size: 20px;
                        margin-bottom: 0;
                    }
                    svg{
                        vertical-align: middle;
                        width: 20px;
                        height: 25px;
                    }
                   }
            }
            
        }
    }
    #footer{
        background: $d-bg;
        display: flex;
        flex-wrap: wrap;
        padding: 20px 10px;
        margin: 0;
        @include tab{
            padding: 20px 0 0 70px;
        }
        .child1{
            flex-basis: 25%;
            padding: 0 15px;
            img{
                height: 36px;
                margin-bottom: 25px;
            }
            ul{
                margin: 0;
                padding: 0;
                li{
                    list-style: none;
                    p{
                        font-size: 12.5px;
                        margin-bottom: 10px;
                        svg{
                            width: 21px;
                            height: 21px;
                            margin-right: 8px;
                            vertical-align: middle;
                            color: rgb(163, 171, 163);
                            
                        }
                        span{
                            display: block;
                            margin-left: 30px;
                            a{
                                font-size: 14px;
                                text-decoration: none;
                                color: #343a40;
                                font-weight: 600;
                            }
                            .e-a{
                                display: block;
                                margin-top: 4px;
                            }
                        }
                    }
                    .e-a2{
                        gap: 6px;
                    }
                }
            }

        }
        .child2{
            flex-basis: 50%;
            padding: 0;
            display: none;
            @include extralarge-mob{
                display: block;
            }
            .middle{
                width: 100%;
                display: flex;
                .footer-home{
                    flex-basis: 33%;
                    padding: 0 15px;
                    .homeHeading{
                      font-size: 14px;
                      color: #333; 
                      margin-bottom: 5px;
                      font-weight: 600; 
                    }
                    ol{
                        padding: 0;
                        margin: 0 15px 15px;
                        list-style: circle;
                        align-self: center;
                    }
                    li{
                        a{
                            font-size: 12px;
                            color: #333;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        .child3{
            padding: 0 15px;
            flex-basis: 25%;
            .staycon{
                margin-bottom: 26px;
                p{
                    font-size: 15px;
                    color: #333;
                    margin-bottom: 7px;
                    font-weight: 600;
                    letter-spacing: .50;
                }
                a{
                    font-size: 14px;
                    text-decoration: none;
                    img{
                        height: 22px;
                        margin-right: 4px;
                    }
                }
            }
            .downloadapp{
                .downUp{
                    align-items: center;
                    margin-bottom: 5px;
                    img{
                        height: 42px;
                    }
                    p{
                        font-size: 18px;
                        font-weight: 600;
                        margin-left: 15px;
                        color: #333;
                    }
                }
                .downDown{
                    img{
                        width: 100px;
                        margin-right: 7px;
                    }
                }
            }
        }
    }
    #copyright{
        padding: 15px 0;
        font-size: 13px;
        font-weight: 500;
        color: #333;
    }
}




/*====================
        Header
========================
.header {

    .main_header {
        margin: 0px auto;
        gap: 30px;

        @include small-laptop {
            padding: 30px 105px 0px 95px;
            display: flex;
            gap: 0px;
        }


        .left_header {
            flex-basis: 70%;
            margin: 15px 0 0 0;

            @include extralarge-mob {
                margin: 15px 10px 0 10px;
            }

            @include small-laptop {
                margin: 0px 30px 0px 0px;
            }

            .select {
                display: flex;
                padding: 15px;
                justify-content: space-between;
                background: $d-bg;
                box-shadow: 0px 3px 4px -4px $shadow;

                @include tab {
                    padding: 20px 25px;
                    margin-top: 30;
                }

                .s_text {
                    flex-basis: 80%;

                    @include extralarge-mob {
                        flex-basis: 50%;
                    }

                    input {
                        height: 16px;
                        vertical-align: middle;
                    }

                    span {
                        line-height: 31.5px;
                        font-size: 14px;
                        text-decoration: none;

                        @include extralarge-mob {
                            margin-left: 10px;
                        }
                    }
                }

                .s_total {
                    text-align: end;

                    @include extralarge-mob {
                        text-align: center;
                    }

                    p {
                        font-size: 14px;
                        color: $f-color;

                        @include extralarge-mob {
                            font-size: 20px;
                        }
                    }

                    span {
                        font-size: 15px;
                        color: $p-color;

                        @include extralarge-mob {
                            margin-right: 10px;
                        }
                    }
                }
            }

            .books {
                margin: 16px 10px 0px 10px;
                background: $d-bg;
                box-shadow: 0px 3px 4px -4px $shadow;

                @include tab {
                    margin: 31px 0px 0px 0px;
                }

                .main_books {
                    display: flex;
                    padding: 10px;
                    border-bottom: 1px solid $border;

                    @include extralarge-mob {
                        padding: 16px;
                    }

                    .button_box {
                        align-self: center;

                        input {
                            height: 16px;
                        }

                    }

                    .book_img {
                        margin: 0px 20px 0px 15px;

                        img {
                            height: 114px;
                        }

                        ;
                    }

                    .book_details {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;

                        @include extralarge-mob {
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                        }

                        .book_name {
                            flex-basis: 45%;

                            .b_name {
                                a {
                                    font-size: 16px;
                                    color: $f-color;
                                    margin-top: 3px;
                                    text-decoration: none;
                                }

                                h5 {
                                    font-size: 11px;
                                    color: $p-color;
                                    margin-top: 5px;
                                }

                                p {
                                    font-size: 11px;
                                    color: $fred;
                                    padding: 7px 0px 22px 0px;
                                }
                            }

                            .b_date {
                                @include extralarge-mob {
                                    display: flex;
                                }

                                a {
                                    font-size: 12px;
                                    display: block;
                                    margin-bottom: 10px;
                                    color: $fo-color;
                                    text-decoration: none;

                                    @include extralarge-mob {
                                        margin-right: 15px;
                                        display: flex;
                                    }

                                    img {
                                        width: 13.5px;
                                        height: 15px;
                                        vertical-align: middle;
                                        margin-right: 6.5px;
                                        // .opacity{
                                        //     opacity: .5;
                                        // }
                                    }
                                }


                            }
                        }

                        .count {

                            display: flex;
                            flex-direction: column;
                            border-radius: 3px;

                            @include extralarge-mob {
                                flex-direction: row;
                                border: 1px solid $border;
                            }

                            button {
                                padding: 9px 12px;
                                cursor: pointer;
                                border: none;
                                background: transparent;

                                @include extralarge-mob {
                                    background: #ddd;
                                }

                                img {
                                    width: 12px;
                                }
                            }

                            input {
                                font-size: 17px;
                                width: 45px;
                                text-align: center;
                                border: none;
                                outline: none;
                            }
                        }

                        .price {
                            span {
                                font-size: 15px;
                                font-weight: 500;
                            }

                            .regular {
                                color: $p-color;
                                margin-right: 10px;
                            }
                        }
                    }
                }

                .convert {
                    padding: 10px;

                    @include extralarge-mob {
                        text-align: right;
                        padding: 25px 51px;
                    }

                    .main_con {
                        display: flex;
                        justify-content: center;
                        gap: 10px;

                        @include extralarge-mob {
                            gap: 15px;
                            justify-content: flex-end;
                        }

                        .gift {
                            font-size: 16px;
                            text-decoration: none;
                            font-weight: 500;
                            color: $hover;
                            border: 2px solid $hover;
                            margin-right: 5px;
                            border-radius: 3px;
                            padding: 10px;

                            @include extralarge-mob {
                                padding: 16px 30px 13px;
                            }

                            &:hover {
                                background: $hover;
                                color: $d-bg;
                            }
                        }

                        .place {
                            font-size: 16px;
                            text-decoration: none;
                            font-weight: 500;
                            padding: 12px 18px;
                            color: $d-bg;
                            background: $link;
                            ;
                            border-radius: 3px;

                            @include extralarge-mob {
                                padding: 16px 40px 13px;
                            }

                            &:hover {
                                opacity: .9;
                            }
                        }
                    }
                }


            }
        }

        .right_header {
            margin: 15px 10px 0px 10px;
            flex-basis: 30%;
            background: $d-bg;
            padding: 24px;
            box-shadow: 0px 3px 4px -4px $shadow;
            height: 100%;

            @include small-laptop {
                margin: 0px;
            }

            .delivery {
                ul {
                    li {
                        list-style: none;
                        margin-bottom: 20px;

                        img {
                            height: 24px;
                            vertical-align: middle;
                            margin-right: 16px;
                        }

                        span {
                            font-size: 14px;
                            font-weight: 500;
                        }
                    }
                }
            }

            .offer {
                border-top: 1px solid $border;
                padding-top: 20px;

                h6 {
                    font-size: 16px;
                    margin-bottom: 8px;
                }

                ul {
                    margin-left: 24px;

                    li {
                        margin-bottom: 5px;
                        font-size: 14px;
                    }
                }


            }
        }
    }
}


/*=======================
 footer
=======================*
.main_footer {
    background: $d-bg;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 15px 0 15px;
    margin-top: 15px;

    @include extralarge-mob {
        margin-top: 30px;
    }

    img {
        margin: 10px 40px 0px 0px;

        @include small-mob {}
    }

    .hot {
        margin: 25px 10px 0px 10px;

        ul {
            li {
                padding-bottom: 14px;
                list-style: none;
                font-size: 14px;
                font-weight: 400px;

                img {
                    vertical-align: middle;
                    margin-right: 15px;
                    padding-bottom: 14px;
                }
            }
        }
    }
}


/*=================
    copyright
======================*
.copyright {
    padding: 17px 0px;
    font-size: 13px;
    text-align: center;
}*/